<!doctype html>
<html lang="en">
	<head>
		<title>{% block head_title %}My Django App{% endblock head_title %}</title>
		{% include 'snippets/css.html' %}

	</head>
	<body>
		
<!-- 		<h1><p>My <code>{% verbatim %}{{html_var}}{% endverbatim %}</code> App</p></h1>
 -->
 	<div class="container"> 
 		 	<h1><p>My {{html_var}} App | {% block container_title %} {% endblock container_title %}</p></h1>
 	</div>		
 	{% include 'snippets/nav.html' %}


 	<div class= "container">
		{% block content %}

		{% endblock content %}		
	</div>
	{% include 'snippets/js.html' %}	
	</body>
</html>